*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maincontainer{
    width: 100vw;
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ffb2f4; */
    background:linear-gradient(
        -10deg,
        #ffbdac,
        #ffbcab,
        #ffdbc1
    )
}
.subcontainer{
    width: 40%;
    height: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: -3px 10px 20px red;
}
.subcontainerdiv{
    width: 90%;
    height: 100%;
    /* border: 2px solid red; */
}
.subcontainerdivupper{
    width: 100%;
    height: 70%;
    border-bottom: 2px solid black;
}
.subcontainerdivupperupper{
    width: 100%;
    height: 80%;
    /* border: 2px solid red; */
    overflow-y: scroll;
    padding-top: 1rem;
    display:flex;
}
.fa-hand-o-right{
    color: #b30000;
}
.subcontainerdivupperlower{
    width: 100%;
    height: 20%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerdivupperdivlower{
    width: 100%;
    height: 30%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subcontainerdivupperdivlowerleft{
    width: 20%;
    height: 60%;
    /* border: 2px solid red; */
}
.subcontainerdivupperdivlowerright{
    width: 30%;
    height: 60%;
    /* border: 2px solid red; */
}
.fa-twitter-square{
    /* width: 100%;
    height: 100%;
    border: 2px solid red; */
    color: #66b3ff;
}
button{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    background:linear-gradient(
        110deg,
        red,
        #f08573,
        #f4b79c
    );
}
button h3{
    color: white;
}
::-webkit-scrollbar {
    display: none;
  }
  